%fieldset
  .row-fluid
    .span5
      = f.association :site, collection: @company.sites
    .span5
      = f.association :role, collection: Role.site_roles, label_method: :select_label
    .span2
      = f.hidden_field :_destroy
      = link_to raw("<i class='icon-trash'></i>"), '#', class: "remove_fields btn pull-right", style: "margin-top: 25px;"