= render 'layouts/dashboard_navigation'

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left 
          %i.icon-group
          = link_to "People"
          %span /
          Add a Person
        = link_to "Cancel", users_url, class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span3
        .form-instructions
          %h3 Create a person
          %p Enter the person's details.
      .span9
        = render 'form'