= content_for :title do
  Condo Motion | About
= render 'layouts/home_navigation'
.container
  .row#team
    .span12
      %h2.title.center The Condo Motion Team
    .span4.center 
      =image_tag "team/david.jpg", class: "img-circle img-polaroid"
      .info
        .name David Van Der Beek
        .title Founder & CEO
        .bio David has spent most of his career in consulting where he built financial models and helped Fortune 500 companies develop growth strategies. He has an MBA from the University of Chicago Booth School of Business with concentrations in Entrepreneurship, Finance, and Strategic Management. He has a strong passion for technology, and Condo Motion is his attempt to use technology to make the real estate indutry more efficient. David also has over 5 years of web development experience.
    .span4.center 
      =image_tag "team/oliver.png", class: "img-circle img-polaroid"
      .info
        .name Oliver Bowen
        .title VP of Engineering
        .bio Oliver is a computer engineer with several years of experience in software architecture, web development, and interface design. He has worked in a wide variety of high-tech fields from lighting control to image processing and has cofounded two technology startups. He holds a masters degree from Imperial College, London and a bachelors degree from Lafayette College.
    .span4.center 
      =image_tag "team/ed.png", class: "img-circle img-polaroid"
      .info
        .name Ed Hofeller
        .title Director of Sales
        .bio Ed Hofeller has 35 years experience in real estate management. Ed started out as a property accountant and eventually worked his way into the positions of Controller and Vice President before starting his own property management company in 1987. Since then, he has founded three other companies that serve various areas of the real estate industry. Condo Motion is his most recent undertaking along with David and Oliver. Condo Motion integrates all the knowledge and experience Ed has accumulated in his long career. 
  / .row#story
  /   .span12
  /     %h2.title.center Our Story
  /     .row
  /       .span8
  /         %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
  /         %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
  /       .span4
  /         = image_tag "http://placehold.it/726x622", class: "pull-right", style: "width: 100%;"