= content_for :title do
  Condo Motion | Simple, Beautiful Websites for Condos and Property Managers
= render 'layouts/home_navigation'
.row-fluid
  #welcome.hero-unit.span8.offset2
    %h1 Condo Motion
    %h3 Build beautiful condo websites in 60 seconds.
    = link_to "Get Started", pricing_path, class: "btn btn-large btn-primary"
.feature
  .container
    %h3 Instant Setup
    %hr/
    .row
      .description.span7 Our templates are fully customizable, but they look great from the beginning and have default content so you can get up and running right away.
.feature.dark
  .container
    %h3 Manage Multiple Sites From One Place
    %hr/
    .row
      .description.span7 Description goes here
.feature
  .container
    %h3 Keep Track of Staff and Residents
    %hr/
    .row
      .description.span7 Description goes here
.feature.dark
  .container
    %h3 Easily Share Information
    %hr/
    .row
      .description.span7 Description goes here
.feature
  .container
    %h3 Simple Issue Reporting
    %hr/
    .row
      .description.span7 Description goes here
.feature.dark
  .container
    %h3 Easy Editing
    %hr/
    .row
      .description.span7 Description goes here
.feature
  .container
    %h3 Search Engine Optimized
    %hr/
    .row
      .description.span7 Description goes here