= content_for :title do
  Condo Motion ! Simple, Beautiful Websites for Condos and Property Managers
= render 'layouts/navigation'
#welcome.hero-unit.span8.offset2
  %h1 Condo Motion
  %h3 Build a beautiful website for your condo in seconds flat.
  = link_to "Get Started", pricing_path, class: "btn btn-large btn-primary"