= content_for :title do
  Condo Motion | Pricing
= render 'layouts/home_navigation'
.container.center
  .row-fluid
    %h2.span12.title Use Condo Motion free for 30 days.
  .row-fluid.plans
    .span3.offset3.well
      .plan
        %h2 Monthly
      %ul.unstyled
        %li Billed monthly
      %h3 $25
      %p a month per site
      = link_to 'Start Free Trial', 'sign_up/monthly', :class => 'btn btn-primary'
    .span3.well
      .plan.featured-plan
        %h2 Annual
      %ul.unstyled
        %li Billed annually
      %h3 $20
      %p a month per site
      = link_to 'Start Free Trial', 'sign_up/annual', :class => 'btn btn-primary'