= content_for :title do
  Condo Motion ! Pricing
= render 'layouts/navigation'
.container.center
  %h2.title Simple, Transparent Pricing.  No Surprises.
.row.span12.plans
  .span2.offset4.well
    .plan
      %h2 Monthly
    %ul.unstyled
      %li Billed monthly
    %h3 $25
    %p a month per site
    = link_to '30 Day Free Trial', 'sign_up/monthly', :class => 'btn btn-primary'
  .span2.well
    .plan.featured-plan
      %h2 Annual
    %ul.unstyled
      %li Billed annually
    %h3 $20
    %p a month per site
    = link_to '30 Day Free Trial', 'sign_up/annual', :class => 'btn btn-primary'