=render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left 
            %i.icon-map-marker
            = link_to "Documents", documents_path
            %span /
            Add a Document
          = link_to "Cancel", documents_path, class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span12
        = render 'form'