= render "layouts/dashboard_navigation"
#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        %h3.pull-left
          = link_to 'Company', show_company_url(subdomain: "www"), style: "color: #999;"
          %span{style: "color: #999;"}  / 
          = "Edit"
  .container-fluid
    = render "form"