!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New Contact Us Form Submission
    %p= "Name: #{@message.name}"
    %p= "Message: #{@message.message}"
