
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

form {
	margin: 0;
}
.center {
	text-align: center;
}

body.home, body.passwords, body.sessions, body.registrations {
  background: #FBFBFB;
}

#jumbotron {
  background: rgb(17,27,52); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTExYjM0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSIjMTMzNTViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjMjY4MGE1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU5YjJjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgba(17,27,52,1) 0%, rgba(19,53,91,1) 18%, rgba(38,128,165,1) 55%, rgba(89,178,192,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(17,27,52,1)), color-stop(18%,rgba(19,53,91,1)), color-stop(55%,rgba(38,128,165,1)), color-stop(100%,rgba(89,178,192,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(17,27,52,1) 0%,rgba(19,53,91,1) 18%,rgba(38,128,165,1) 55%,rgba(89,178,192,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(17,27,52,1) 0%,rgba(19,53,91,1) 18%,rgba(38,128,165,1) 55%,rgba(89,178,192,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(17,27,52,1) 0%,rgba(19,53,91,1) 18%,rgba(38,128,165,1) 55%,rgba(89,178,192,1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(17,27,52,1) 0%,rgba(19,53,91,1) 18%,rgba(38,128,165,1) 55%,rgba(89,178,192,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111b34', endColorstr='#59b2c0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  background-image: url('aqua.jpg');
  background-size: cover;
  color: #ffffff;
  h2{
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgb(49, 57, 61);
  }
  h3 {
    color: #cccccc;
    font-weight: 200;
    font-size: 24px;
    line-height: 1.3;
    margin: 20px 0 30px 0;
  }
  #macbook {
    position: relative;
    bottom: -20px;
  }
}

#welcome {
	margin-top: 80px;
}

h2.title {
	margin: 30px 0;
}
#contact_us{
	margin-top: 30px;
}
#team {
	.info {	
		margin-top: 15px; 
		.name {
			font-size: 1.2em;
			font-weight: bolder;
			color: #333;
		}	
		.title {
			color: #777;
		}
		.bio {
			text-align: justify;
			margin-top: 10px;
		}
	}	
}

.feature {
	padding: 50px 0 30px 0;
	&.dark {
		background: #f5f5f5;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
    .right { 
      text-align: right; 
      hr { 
        float: right; 
      }
    }
	}
	h3 {
		text-transform: uppercase;
		font-size: 24px;
		line-height: 24px;
		color: #3a3a3a;
		margin-bottom: 0;
	}
	hr {
		border-top: 2px solid #555;
		width: 200px;
	}
	.description {
		color: #777;
		line-height: 2em;
	}
  .thumbnail {
    margin: 0 0 -30px 0;
    padding-bottom: 0px;
    border-bottom: none;
    @include border-radius(4px 4px 0px 0px);
    .browser-header {
      height: 20px;
      @include gradient-vertical(#F1F1F1, #C1C1C1);
      border: 1px solid #ccc;
      @include border-radius(3px 3px 0 0);
      color: #666;
      padding: 0 10px;
      i {
        margin-right: 5px;
      }
      .red {
        color: #B24646;
        background: #FF2F2E;
        height: 6px;
        width: 6px;
        margin-top: 7px;
        border: 1px solid #B24646;
        @include border-radius(50%);
      }
    }
  }
}

  .login-box {
    background: #FFFFFF;
    @include border-radius(5px);
    @include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px);
    .content-wrap {
      margin: 30px;
    }
  }