.plans{
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  .well {
    background: #ffffff!important;
  }
}
.featured{
  -webkit-transform:scale(1.15); 
}
.plan{
  background-color: #518AC5;
  box-shadow: inset 0px 0px 30px rgba(0,0,0,0.21);
  padding: 30px 0;
  h2 {
    color: #fff;
  }
  &.featured-plan {
    background-color: #9EC74D;
  }
}