.signups {
  background: #F1F2F5;
  color: #595959;
  padding-top: 60px;
  .header {
    background: rgba(44,55,66,0.9);
    position: fixed;
    top: 0px;
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(0, 0, 0, 0.22) 0 -1px 0, rgba(0, 0, 0, 0.14) 0 1px 2px;
    width: 100%;
    a {
      color: #fff;
      text-decoration: none;
      padding: 20px 5px;
      display: inline-block;
      &.brand {
        font-size: 18px;
      }
      &:hover {
        color: #f1f1f1;
      }
    }
  }
  .login-box {
    background: #FFFFFF;
    padding-top: 10px;
    @include border-radius(5px);
    @include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px);
    h3 {
      font-weight: lighter;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    input {
      padding: 8px 8px;
    }
    .actions {
      margin-top: 30px;
      padding: 15px 0;
      background: #F4F5F6;
      border-top: 1px solid #D3D7DB;
    }
  }
  .content-wrap {
    margin: 0 30px;
  }
}