- content_for :nav_secondary do
  #nav-secondary
    %h5 Properties
    %ul.nav-secondary-tabs
      - @sites.each do |site|
        %li{class: ("active" if site == @site )}= link_to site.name, root_url(subdomain: site.subdomain)
      / %li= link_to "New Site", new_site_url(subdomain: "www") if can? :create, Site