= content_for :body_classes do
  signups
= render "sites/public_nav"
= render 'sites/public_photo'
.container
  .row-fluid
    .span12.center
      %h2 Welcome to Condo Motion
      %p Create your resident account today!  Your property manager will be using Condo Motion to share important information and documents with you.  
      %p Coming soon, you'll also be able to report issues at your property and see the status as your property manager resolves the issue.