=render "layouts/dashboard_navigation"

#main.no-nav-secondary
  #breadcrumbs 
    .container-fluid
      .row-fluid
        .span12
          %h3.pull-left 
            %i.icon-map-marker
            = link_to "Properties", sites_path
            %span /
            Add a Property 
          = link_to "Cancel", sites_path, class: "btn pull-right"
  .container-fluid
    .row-fluid{style: "padding-top: 20px;"}
      .span3
        .form-instructions
          %h3 Create a property
          %p Give your property a name, subdomain (____.condomotion.com), and address.
      .span9
        = render 'form'